.claude/settings.local.json
.cognee_data/cognee_system/databases/cognee_db
.cognee_data/cognee_system/databases/cognee_db__main_staging
.cognee_data/cognee_system/databases/cognee_db-shm
.cognee_data/cognee_system/databases/cognee_db-wal
.cognee_data/cognee_system/databases/cognee.graph
.cognee_data/data_storage/data/text_7e22a6d11519743deee3886ece9bc1ec.txt
.cognee_data/data_storage/data/text_78db6d51cf3324294ba203be6e189822.txt
.cognee_data/data_storage/data/text_abc005f3f570d91e2c242bf50c9e42d7.txt
.cognee_data/data_storage/data/text_be43601e4c6990cf24a1d2729a440140.txt
.cognee_data/data_storage/data/text_c5a1e474953f788c756b7ec074358e97.txt
.cognee_data/data_storage/data/text_c7edb6cfc04deced9470780fea424a80.txt
pyfia.egg-info/dependency_links.txt
pyfia.egg-info/entry_points.txt
pyfia.egg-info/PKG-INFO
pyfia.egg-info/requires.txt
pyfia.egg-info/SOURCES.txt
pyfia.egg-info/top_level.txt
.env
pyfia/__pycache__/__init__.cpython-312.pyc
pyfia/__pycache__/__init__.cpython-313.pyc
pyfia/__pycache__/ai_agent_cognee_simple.cpython-312.pyc
pyfia/__pycache__/ai_agent_cognee.cpython-312.pyc
pyfia/__pycache__/ai_agent.cpython-312.pyc
pyfia/__pycache__/area.cpython-312.pyc
pyfia/__pycache__/biomass.cpython-312.pyc
pyfia/__pycache__/cli_ai_agent_cognee.cpython-312.pyc
pyfia/__pycache__/cli_ai_agent.cpython-312.pyc
pyfia/__pycache__/cli_config.cpython-312.pyc
pyfia/__pycache__/cli.cpython-312.pyc
pyfia/__pycache__/cognee_fia_agent.cpython-312.pyc
pyfia/__pycache__/cognee_setup.cpython-312.pyc
pyfia/__pycache__/config.cpython-312.pyc
pyfia/__pycache__/core.cpython-312.pyc
pyfia/__pycache__/core.cpython-313.pyc
pyfia/__pycache__/data_reader.cpython-312.pyc
pyfia/__pycache__/duckdb_query_interface.cpython-312.pyc
pyfia/__pycache__/estimation_utils.cpython-312.pyc
pyfia/__pycache__/mortality.cpython-312.pyc
pyfia/__pycache__/tpa.cpython-312.pyc
pyfia/__pycache__/volume.cpython-312.pyc
